{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["./src", "./test"],
      "alias": {
        "@app": "./src"
      }
    }]
  ],
  "ignore": [
    "./node_modules"
  ]
}